/ALL_hands_on_deck.xlsx
/Dashboard_Metrics.csv
/Dashboard_Metrics1.csv
/Dashboard_Metrics3.csv
/Dashboard_Metrics5.csv
/Dashboard_Metrics6.csv
/env
/Irene Email campaign list.xlsx
/Partial_Matches.csv
/Partial_Matches1.csv
/Partial_Matches3.csv
/Partial_Matches5.csv
/Partial_Matches6.csv
/Recipient_Engagement_from_20250120_20250218 (1).csv
/Segmented_Recipients_Complete.csv
/Segmented_Recipients_Complete1.csv
/Segmented_Recipients_Complete3.csv
/Segmented_Recipients_Complete5.csv
/Segmented_Recipients_Complete6.csv
/~$ALL_hands_on_deck.xlsx
/~$Irene Email campaign list.xlsx